@import "../index.scss";

.container-login {
    width: 100%;
    height: calc(100vh - $header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-photo/coffee-beans-with-props-making-coffee_1220-4536.jpg?w=2000");
    background-size: cover;

    & .form {
        width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0.4);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.8);

        & .title {  
            padding: 20px;
            font-size: 30px;
            color: #fff;
            text-align: center;
        }

        &__group {
            position: relative;
            margin-top: 35px;

            & input {
                width: 100%;
                padding: 12px 34px 12px 12px;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 18px;
                font-family: "Neuton", serif;
            }

            & span {
                margin-left: 10px;
                color: $red-color;
                font-size: 15px;
            }

            & svg {
                position: absolute;
                top: 24px;
                right: 14px;
                transform: translateY(-50%);
                font-size: 16px;
            }
        }

        & .forgotPassword {
            display: flex;
            justify-content: end;
            margin-top: 5px;

            & a {
                color: $green-color;
                text-decoration: none;
                font-size: 14px;

                &:hover {
                    text-decoration: underline;
                    opacity: 0.8;
                }
            }
        }

        & .btnSubmit {
            margin-top: 30px;
            font-weight: bold;
            font-size: 20px;
            background-color: $green-color;
            color: #fff;
            border: 0;
            border-radius: 50px;
            padding: 12px 24px;
            cursor: pointer;
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);

            &:hover {
                opacity: 0.8;
            }
        }

        & .or {
            text-align: center;
            padding-top: 20px;
            font-size: 16px;

            & .navigate {
                text-decoration: none;
                color: $green-color;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                    text-decoration: underline;
                }
            }
        }
    }
}
