@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

$header-height: 100px;
$text-color: #212121;
$green-color: #00754a;
$red-color: #f32424;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", serif;
}
body {
  color: $text-color;
}
// variable
// global class
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
