@import "../../index.scss";

.slide-item {
  width: 100%;
  height: calc(100vh - $header-height * 2);
  .slide-img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
